*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body{
    background-color: #eee;
}
.home-wrap{
    width: 860px;
    min-height: 700px;
    margin: 20px auto;
    background-color: #e9fffa;
    box-shadow: 0 0 5px #828282;
    border-radius: 4px;
    padding: 20px;
}
.title-list{
    position: fixed;
    left: 50%;
    top: 100px;
    width: 175px;
    height: 500px;
    margin-left: -605px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.title-ul{
    list-style: none;
}
.title-ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    height: 32px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor: pointer;
}
.title-ul .active{
    background-color: #0905e2;
    color: #fff;
}
.content{
    overflow: hidden;
}
.c-ul{
    list-style: none;
}
.c-ul li{
    display: none;
}
.c-ul .active{
    display: block;
}
.codes{
    font-size: 12px;
    color: red;
}
.title{
    font-size: 18px;
    font-weight: 500;
    margin: 10px auto 20px;
    text-align: center;
}
.title-mini{
    font-size: 15px;
    margin: 10px 0;
}
.title-middle{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}
p{
    line-height: 2;
}